# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
    # specify the version you desire here
    - image: circleci/php:7.1-browsers

    # Specify service dependencies here if necessary
    # CircleCI maintains a library of pre-built images
    # documented at https://circleci.com/docs/2.0/circleci-images/
    # - image: circleci/mysql:9.4

    working_directory: ~/repo/phpunit

    steps:
    - checkout

    # Download and cache dependencies
    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "./phpunit/composer.json" }}
        # fallback to using the latest cache if no exact match is found
        - v1-dependencies-

    - run: cd phpunit && composer install -n --prefer-dist

    - save_cache:
        paths:
        - ./vendor
        key: v1-dependencies-{{ checksum "./phpunit/composer.json" }}

    - run: cd phpunit && mkdir var/data

    - run: cd phpunit && bin/console cache:clear

    # run tests!
    - run: cd phpunit && vendor/bin/phpunit